* {margin:0;padding:0;}
body {margin:auto;text-align:center;}
.height100percent {height:100%}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.spacer {clear:both;}

#appIcon {height:48px;width:48px;}
#test {background-color:#ddffdd;}

#shareButton {}
